@{
    ViewData["Title"] = "Error";
}

<header class="masthead bg-warning text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/wrong.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">ERROR</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Something has gone wrong.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Hopefully it won't go wrong the next time.</p></div>
        </div>       
    </div>
</header>
