<div class="site-section" data-aos="fade">
    <div class="row justify-content-center">

        <div class="col-md-7">
            <div class="row mb-5">
                <div class="col-12 ">
                    <h2 class="site-section-heading text-center">Rules</h2>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row flex-xxl-column">
                <div class="col col-lg-3">
                    <h2>Locations</h2>
                </div>
                <div class="col col-lg-9">
                    <ul>
                        <li>Must be visited</li>
                        <li>3 Letter clue must be found and recored in this website</li>
                        <li>Trick must be performed and posted to Whats App</li>
                        <li>Can be visited in any order, apart from the final location</li>
                        <li>Apart from the final location, must be visited before 13/04/2023</li>
                    </ul>
                </div>
            </div>
            <div class="row flex-xxl-column">
                <div class="col col-lg-3">
                    <h2>Videos</h2>
                </div>
                <div class="col col-lg-9">
                    <ul>
                        <li>Contain useful information</li>
                        <li>Contain the tricks which must be performed</li>
                        <li>Incorporate a catchy festive tune</li>
                    </ul>
                </div>
            </div>
            <div class="row flex-xxl-column">
                <div class="col col-lg-3">
                    <h2>Clues</h2>
                </div>
                <div class="col col-lg-9">
                    <ul>
                        <li>Must be found</li>
                        <li>Contain a 3 letter clue that must be entered in this website</li>
                        <li>Are contained in black plastic camera case</li>
                        <li>In the event a clue has been moved by a small animal, or eaten by a small child video evidence of thorough search will be accepted on posting to Whats App</li>
                        <li>Clues in Hampshire work differently, consult local guides for details</li>
                    </ul>
                </div>
            </div>
            <div class="row flex-xxl-column">
                <div class="col col-lg-3">
                    <h2>The Final Location</h2>
                </div>
                <div class="col col-lg-9">
                    <ul>
                        <li>Is locked until the 14/04/2023</li>
                        <li>Is unavailable after the 15/04/2023</li>
                        <li>Is locked until codes are entered in the website</li>
                        <li>May, at Santas discretion, unlock a special bonus round or lead directly to receipt of the present</li>
                    </ul>                   
                </div>
            </div>
            <div class="row flex-xxl-column">
                <div class="col col-lg-3">
                    <h2>Tricks</h2>
                </div>
                <div class="col col-lg-9">
                    <ul>
                        <li>All locations require one or more tricks to be performed</li>
                        <li>Tricks must be recorded and video posted to Whats App "Chicks & Pops" group</li>
                        <li>Must be performed on location, unless specified otherwise in the video</li>
                        <li>May result in death</li>
                    </ul>                   
                </div>
            </div>
            <div class="row flex-xxl-column">
                <div class="col col-lg-3">
                    <h2>F.A.Q.</h2>
                </div>
                <div class="col col-lg-9">
                    <ul>
                        <li><strong>I do not want to dance to Santas tune, I refuse this challenge.</strong> In this event a ceremonial present buring ceremony will take place at the Final Location at 9PM on the 14/04/2023</li>
                        <li><strong>What if I do my best but fate conspires against me and I fail the challenge.</strong>Santa will use his discretion and award anything between a partial and full present. Un gifted parts will be burned as above</li>
                        <li><strong>One of my clues is missing.</strong> Santa accepts video evidence that a thorough search has taken place and will provide the codes in that scenario</li>
                        <li><strong>I am not sure these locations are safe or accessible in bad weather.</strong> Apart possibly from the car park opposite the Ferry Boat Inn - I would not venture there after dark, everywhere is safe. It is unlikely you will visit the locations in worse weather than Santa endured, there wasn't much mud - the paths were good</li>
                        <li><strong>The Designer Outlet ( East Midlands ), a good place for lunch ?</strong> No, not a good place for anything. Especially not warm gloves</li>
                        <li><strong>I might get lost.</strong> Santa's advice is, don't</li>
                        <li><strong>In the even of my injury or death, is Santa culpable ?</strong> Absolutely not</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>