@model ArmadilloParty.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Success";
}

<header class="masthead bg-success text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/success.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">WELL DONE !</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Well done Chris ! You have solved the puzzle.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Your reward is an enhanced appreciation of armadillos and the satisfaction of winning.</p></div>
        </div>       
    </div>
</header>