<div class="site-section" data-aos="fade">
    <div class="container-fluid">      
        <div class="container">
            <div class="row flex-xxl-column">
            <div class="col col-lg-3">
                <h2>The Video</h2>
            </div>
            <div class="col col-lg-9">
               <video controls width="auto" height="auto">
                    <source src="~/media/3-Fountaindale-web.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            </div>
            <div class="row flex-xxl-column">
            <div class="col col-lg-3">
                <h2>The Short Way</h2>
            </div>
            <div class="col col-lg-9">
                <iframe src="https://www.komoot.com/tour/996851879/embed?share_token=ahmK862y1NTxbS5KXHj6UGJvPuTd3ZE5DGZafVAnwDC6fjAGPB&profile=1" width="640" height="700" frameborder="0" scrolling="no"></iframe>
            </div>
            </div>
            <div class="row flex-xxl-column">
            <div class="col col-lg-3">
                <h2>The Long Way</h2>
            </div>
            <div class="col col-lg-9">
                <iframe src="https://www.komoot.com/tour/999170506/embed?share_token=av0eTniCclAhUgAz6X2il2ZpFUcqAm75Aj9T9WrfBnDAx4HMFz&profile=1" width="640" height="700" frameborder="0" scrolling="no"></iframe>
            </div>
            </div>
            @if (@Model.Completed == "false")
            {
                <div class="row flex-xxl-column">
                    <div class="col col-lg-3">
                        <h2>Code</h2>
                    </div>

                    <div class="col col-lg-9">
                        @using (Html.BeginForm("Answer", "Answer"))
                        {
                            <div class="row form-group">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <label class="text-white" for="fname">Enter the three letter code for this challenge</label>
                                    @Html.TextBox("txtClue")

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Register Clue" class="btn btn-primary py-2 px-4 text-white">
                                </div>
                            </div>
                        }
                    </div>

                </div>
            }
        </div>
    </div>
</div>
