        <header class="masthead bg-info text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/armadillo4.png" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">CREDITS</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto">Freelance is a free to use, MIT licensed Bootstrap theme created by<a href="http://startbootstrap.com">Start Bootstrap</a></div>
                    <div class="col-lg-4 me-auto">Armadillo images courtesty of <a href="https://vecteezy.com">Vecteezy.com</a></div>
                </div>                                   
        </header>