<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/armadillo5.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">LOST !</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead"></p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Eurapides was lost, he ought not be lost, he thought, as he been following his map religously. He was however prepared for being lost, armadillos are always prepared and had written down the name of his destination on a piece of paper. What he would need to do now would be to find local armadillos and ask the way.</p></div>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2>FOUND</h2>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">"Excuse me", he asked the first armadillo he came across "Can you tell the me the way to Palca ?". "Palca ?" replied the armadillo, "I don't think I have ever heard of such a place, are you sure its here in Chile ?". Despondent, Eurapides continued on the road. Another armadillo appeared, "Excuse me !" Eurpaides hailed, "Can you tell the me the way to Palca, I wish to visit the Jardín botanico de la Universidad, which I have heard is a fantastic place with many animals". "I'm sorry", replied the second Armadillo, "I have never heard of such a place"</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">"Oh, but this is the Rio Claro I am following and I was told when I get to the confluence with the Lircay river I would be right there". "Oh, hang on, let me look at those directions you have written down there. I think I can see the problem. Yes, that first letter is wrong, it should be a ..." At that moment a sudden tidal wave whooshed down the river and washed the poor armadillo away. For a moment, Eurpides was sad, but now he had information to continue his journey with confidence."</p></div>
        </div>
    </div>
</header>
