<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/armadillo5.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">ESCAPE !</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Ruth, the armadillo, was ready to put her plan into action. Incarceracted in rural France, so far as she could tell Castelbiague, Occitane near the junction of Gajas and Gaouach, she longed for her native South American homeland.  </p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">South America was a long way away though, she doubted she could swim that far. From the window of her cage, to slighltly East of South she would often gaze at a pleasantly wooded mountain peak that was sure to contain many ants, fruits and the other small creatures armadillos loved to eat.</p></div>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2>Jailbreak</h2>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Lifting the corner of her herring bone rug Ruth retrieved the sturdy pocket knife secreted beneath it. Dropped many months previously by her tyrannical captor, Maria Turner. By sharpening it every day on her armoured carpace Ruth had honed its once dull edge to to fine point. Ruth glanced up as Maria continued her relentless war against the daisys on her lawn. She would be engaged in this activity for hours, the coast was clear. Ruth began to cut through the rusty copper wire securing her cage. Engrossed in her daisy killing Maria did not notice the squeak, squeak of the knife against the wire as Ruth sawed her way to freedom. At last, with a loud clink the wire parted and dropped from the lock.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Ruth gasped, had Maria heard the sound ? No, she was at the far end of the lawn and oblivious. Ruth had waited until the summer to escape, the weather would be warmer and leave plenty of time to build a nice burrown ready for winter. Darkness fell. Pausing only to put on her natty red bobble hat that Maria had, in an uncommon moment of kindness knitted to protect Ruth from the cold Pyrenean winters, Maria glanced around twice and made a dash for the hill. Freedom ! At last ! </p></div>
        </div>
    </div>
</header>
