<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/armadillo2.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">KIDNAP !</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Sappho was a particularly pampered armadillo. Apple of his owners eye he dined on the finest fruit and choice ants, served on a copper platter. Angus D Grunwald Snr IV and his wife Hilbert, residents of El Paso, Texas, aged 56 and 22 respectively, would be accompanied by Sappho on their every journey. They happened to be millionaires, oil was their business.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Tuco Ramírez was not a millionaire. He was a bandit, having recently narrowly escaped from several hangings and having been narrowly beaten to $20,000 of illicit gold, he was in need of money. Fast. On leaving the barbers he spots the Grunwalds bearing Sapphos into a nearby hotel.</p></div>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2>Tuco Strikes</h2>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Wasting no time Tuco strapped on his twin Speddings and broke silently into the Grunwalds apartment. With a trail of ants he tempted the unsuspecting Sapphos into his waiting basket. Sapphos was Kidnapped!</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Horrified, the Grunwalds discovered the loss of their darling pet. Angus mah dear ! Cried Hilbert, Why we must surely pay a handsome ransome to recover poor Sapphos ! Nonsense, my dear. Replied Angus, one armadillo is very like another, we shall simply find another. Oh mah husband ! You are so wise, simpered Hilbert.</p></div>
        </div>
    </div>
</header>
