<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/armadillo7.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">NOISY NEIGHBOURS</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Homer, not his real name, armadillos don't give themselves names as a rule, was settling down in his burrow for the evening after a long day out on the pampas. He had ran from a Rhea, been banjaxed by a Burrowing Owl and narrowly avoided veering into a Vicuna. He was looking forward to a nice well earned sleep. </p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Sophocles, not his real name, tuco-tucos don't give themselves names as a rule, was settling down in his burrow for the evening thump. Thump ! He drummed the wall, warming up for the long night of thumping ahead. Thump ! Thump, Thump !' .</p></div>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2>Oh Do Be Quiet !</h2>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Thump ! Thump ! Thump ! Homer was not happy, his lovely supper of pickled herring was repeating on him and with the dreadful thumping ringing through his bedroom he could see he would have no sleep. He set out to investigate.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Who are you, he asked ? Having easily tracked down the source of the thumping to a nearby burrow. I am a colonial tuco-tucos replied the tuco-tocos, people often call me Sophocles, but I don't know why. It's nice to meet you replied Homer, but would you mind stopping this awful thumping ? Oh, does it bother you ? Sophocles looked unmoved, as it happens though I was getting bored of thumping anyway. Goodnight.</p></div>
        </div>
    </div>
</header>
