<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/assets/img/portfolio/armadillo1.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">TUCOS ATTACK !</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Iquitos, darkest Peru. 1936. At the regional sorting office on the Calle de la Paloma Escoria, Don Jose Juanita was facing a problem. The office, outside the town on an unamed tributary of the Amazon River, was under attack by a colum of tucos. Relentlessly, the voracious beasties were devouring their way through the piles of unsorted correspondance.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Horrifed, Don Jose feared for his life but more he feared for the reputation of the postal service. Living alone, with only his pet Armadillo, James, as company and cut off by the barely pentetrable rainforest and flooding Amazon Don Jose was in a proper pickle.</p></div>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2>James to the Rescue</h2>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Whilst Don Juan dithered on the spedding, James moved into action.</p></div>
            <div class="col-lg-4 ms-auto"><p class="lead">Armadillos eat ants and James ate all of those ants right up. Saving, not only, the office, but also all the post and Don Juans reputation.</p></div>
        </div>
    </div>
</header>
