<div class="site-section" data-aos="fade">
    <div class="row justify-content-center">

        <div class="col-md-7">
            <div class="row mb-5">
                <div class="col-12 ">
                    <h2 class="site-section-heading text-center">Success</h2>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row flex-xxl-column">
                <div class="col col-lg-3">
                    <h2>Congratulations</h2>
                </div>
                <div class="col col-lg-9">
                    <p>Well done, you are one step closer to your present.</p>
                </div>
            </div>         
        </div>
    </div>
</div>